<!DOCTYPE html>
<html>
  <head>
    <title>ApiMuncher</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="frontpage">
    <div class="top-bar" id="example-menu">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">Site Title</li>
          <!-- ############### If Logout ################## -->
          <% if session[:user_id] == nil %>
            <li><%= link_to("Log In with Google", "/auth/google_oauth2") %></li>
          </ul>
        </div>
          <% else %>
          <!-- ############### If Loged in ################## -->
            <li><%= "Hello, #{@user.name}!" %></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><%= link_to "My Recipes", show_my_recipes_path, method: :get %></li>
          <li><%= link_to "Logout", sessions_destroy_path, method: :delete %></li>
        </ul>
      </div>
      <% end %>
    </div>

    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>

      <div class="index-search">
        <section class="content">
          <h1 class="title">Om Nom Nom Nom Finder</h1>
          <div class="center">
            <div id ="search-box">
              <%= form_tag(search_path, method: :get) do %>
                <%= text_field_tag(:q) %>
                <%= submit_tag "Go Nom Nom", class: "button" %>
              <% end %>
            </div>
          </div>
        </section>
      </div>

    <footer class="the-footer">
      <%= image_tag "Attibution-v1.png", :title => "Edamam Attribution", :alt => "Edamam Attribution" %>
    </footer>
  </body>
</html>
