<!-- ######## pagination ########### -->

<ul class="pagination text-center" role="navigation" aria-label="Pagination">
  <li class="pagination-previous">
  <% if @page > 1 %>
    <%= link_to "Previous", search_path(q: @query, page: @page-1) %>
  <% end %>
  </li>

  <li class="pagination-next">
  <% if @page < maxpage %>
    <%= link_to "Next", search_path(q: @query, page: @page+1) %>
  <% end %>
  </li>
</ul>
<!-- ######## pagination ########### -->

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>


<div class="row">
  <h1><%= "#{@query.capitalize} Recipes" %></h1>
</div>



  <div class="row small-up-1 medium-up-2 large-up-3">
  <% @your_recipes.each do |recipe| %>
    <div class="column">
      </br>
      <%= link_to image_tag(recipe.image, :title => recipe.label, :alt => recipe.label), show_path(recipe.uri) %>
      <h5 class="subheader"><%= link_to recipe.label, show_path(recipe.uri) %></h5>
      </br>
    </div>
  <% end %>
</div>








<!-- ########## script for "back to top" button ############### -->
<div id="back-top">
  <div class="button"> BACK TO TOP </div>
</div>

  <script>
  $(document).ready(function(){

    // hide #back-top first
    $("#back-top").hide();

    // fade in #back-top
    $(function () {
      $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
          $('#back-top').fadeIn();
        } else {
          $('#back-top').fadeOut();
        }
      });

      $("#back-top").click(function (){
          $('html, body').animate({
              scrollTop: $("body").offset().top
          }, 500);
      });

      // scroll body to 0px on click
      $('#back-top .fi-arrow-up').click(function () {
        $('body,html').animate({
          scrollTop: 0
        }, 800);
        return false;
      });
    });

  });
  </script>
<!-- ########### script for "back to top" button ############### -->



<!-- ########### pagination ############### -->

<ul class="pagination text-center" role="navigation" aria-label="Pagination">
  <li class="pagination-previous">
  <% if @page > 1 %>
    <%= link_to "Previous", search_path(q: @query, page: @page-1) %>
  <% end %>
  </li>

  <li class="pagination-next">
  <% if @page < maxpage %>
    <%= link_to "Next", search_path(q: @query, page: @page+1) %>
  <% end %>
  </li>
</ul>
<!-- ############ pagination ############### -->
