<h1><%= @recipe.label %></h1>
<div><%= image_tag(@recipe.image, :title => @recipe.label, :alt => @recipe.label) %></div>
<h3>Ingredients</h3>
<table>
  <tr>
    <th>Items</th>
    <th>Amount</th>
  </tr>
<% @recipe.ingredients.each do |ing| %>
  <tr>
    <td><%= ing["text"] %></td>
    <td><%= "#{ing["quantity"]} #{ing["measure"]}" %></td>
  </tr>
<% end %>
</table>

<div class="button"><%= link_to 'Back', :back %></div>
