<h1><%= @recipe.label %></h1>
<div class="row align-middle">
  <div class="small-5 large-4 columns">
    <%= image_tag(@recipe.image, :title => @recipe.label, :alt => @recipe.label) %>
    <div><%= link_to 'Go to Original Recipe', @recipe.url, :target => '_blank', class: "button" %></div>
  </div>

  <div class="small-2 large-4 columns">
    <P>Servings: <%= @recipe.servings.round(0) %></p>
    <p>Calories per serving: <%= @recipe.calories_per_serving %></p>
  </div>

  <div class="small-5 large-4 columns">
    <h3>Dietary Restrictions</h3>
    <ul>
      <% @recipe.healthLabels.each do |ea| %>
      <li><%= ea %></li>
      <% end %>
    </ul>
  </div>
</div>


<div class="row">
  <div class="small-12 large-6 columns">
    <table>
        <tr><th colspan="2" class="table-title">Ingredients</th></tr>
      <tr>
        <th>Items</th>
        <th>Amount</th>
      </tr>
    <% @recipe.ingredients.each do |ing| %>
      <tr>
        <td><%= ing["text"] %></td>
        <td><%= "#{ing["quantity"].round(2)} #{ing["measure"]}" %></td>
      </tr>
    <% end %>
    </table>
  </div>

  <div class="small-12 large-6 columns">
    <table>
      <tr><th colspan="3" class="table-title">Nutrient</th></tr>
      <tr>
        <th>Nutrient</th>
        <th>Amount</th>
        <th>Daily value</th>
      </tr>
      <% @recipe.digest.each do |ea| %>
        <tr>
          <td><%= ea["label"] %></td>
          <td><%= "#{@recipe.nutrient(ea)} #{ea["unit"]}" %></td>
          <td><%= "#{@recipe.daily_percentage(ea)}%" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div><%= link_to 'Back', :back, class: "button" %></div>
