<!DOCTYPE html>
<html>
<head>
  <title>ApiMuncher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="top-bar" id="example-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Site Title</li>
        <!-- ############### If Loged in ################## -->
        <% if current_user %>
          <li><%= "Hello, #{current_user.name}!" %></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><%= link_to "My Recipes", show_my_recipes_path, method: :get %></li>
        <li><%= link_to "Logout", sessions_destroy_path, method: :delete %></li>
      </ul>
    </div>
    <!-- ############### If Logout ################## -->
    <% else %>
        <li><%= link_to("Log In with Google", "/auth/google_oauth2") %></li>
      </ul>
    </div>
    <% end %>
  </div>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

  <h1 class="title">Om Nom Nom Nom Finder</h1>

  <div class="row">
    <div class="large-3 columns dot">.</div>
    <div class="large-6 columns">
      <%= form_tag(search_path, method: :get) do %>
        <%= text_field_tag(:q) %>
        <div class="search-button">
          <%= submit_tag " Go Nom Nom", class: "button" %>
        </div>
      <% end %>
    </div>
    <div class="large-3 columns dot">.</div>
</div>


<%= yield %>



<footer>
  <%= image_tag "Attibution-v1.png", :title => "Edamam Attribution", :alt => "Edamam Attribution" %>
</footer>
</body>
</html>
