<!DOCTYPE html>
<html>
<head>
  <title>ApiMuncher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= form_tag(search_path, method: :get) do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag " Go Nom Nom", class: "button" %>
  <% end %>



<%= yield %>



<footer>
  <%= image_tag "Attibution-v1.png", :title => "Edamam Attribution", :alt => "Edamam Attribution" %>
</footer>
</body>
</html>
